In [2]:
import pandas as pd
import numpy as np
#pd.set_option('max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./autoscout24-germany-dataset.csv')
schema = pd.read_csv('./autoscout24-germany-dataset.csv')
df.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [8]:
# How big is the dataset?
df.shape

(46405, 9)

In [6]:
# Get an initial feel for the values in the dataset
df.describe()

            mileage         price            hp          year
count  4.640500e+04  4.640500e+04  46376.000000  46405.000000
mean   7.117786e+04  1.657234e+04    132.990987   2016.012951
std    6.262531e+04  1.930470e+04     75.449284      3.155214
min    0.000000e+00  1.100000e+03      1.000000   2011.000000
25%    1.980000e+04  7.490000e+03     86.000000   2013.000000
50%    6.000000e+04  1.099900e+04    116.000000   2016.000000
75%    1.050000e+05  1.949000e+04    150.000000   2019.000000
max    1.111111e+06  1.199900e+06    850.000000   2021.000000

In [22]:
# Is there missing data in the dataset?

missing_values = df.isnull().values.any()
print('There are missing values in the dataset:' + str(missing_values))


number_missing_values = df.isnull().sum().sum()
print('There are '+ str(number_missing_values) +' missing values in the dataset')

df.isnull().sum()

There are missing values in the dataset:True
There are 354 missing values in the dataset

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [30]:
# Get the rows with the missing values
df_missing_values = df[df.isnull().any(axis=1)]
df_missing_values

,mileage,make,model,fuel,gear,offerType,price,hp,year
243,93850,Renault,Grand Scenic,Diesel,NaN,Used,7990,110.0,2012
347,52753,Lada,Vesta,Gasoline,NaN,Used,8000,106.0,2017
365,3500,Others,NaN,Electric,Manual,Used,5500,38.0,2018
482,36018,Mitsubishi,Space Star,Gasoline,Manual,Used,6222,NaN,2015
612,46850,Suzuki,Alto,Gasoline,NaN,Used,3999,68.0,2011
...,...,...,...,...,...,...,...,...,...
46114,35,Kia,NaN,Electric/Gasoline,Automatic,Pre-registered,30440,141.0,2021
46120,35,Kia,NaN,Electric,Automatic,Pre-registered,32440,204.0,2021
46237,2000,Tesla,NaN,Electric,Automatic,Used,57020,487.0,2021
46326,45,BMW,iX3,Electric,NaN,Used,58000,286.0,2021
46335,7,Ford,Puma,Gasoline,NaN,Pre-registered,22990,125.0,2021

In [32]:
# Analyse missing values by columns
df[df['model'].isnull()] # other two columns with NaNs: 'gear', 'hp'

# Looking at the data, the missing model is not a problem in our case, since we are focus our analysis on the propulsion system.
# The same applies for the Horse Power and Gear (xEVs are automatic, anyway)

,mileage,make,model,fuel,gear,offerType,price,hp,year
365,3500,Others,NaN,Electric,Manual,Used,5500,38.0,2018
2001,2900,Others,NaN,Electric,Automatic,Used,7900,5.0,2018
2009,60866,Opel,NaN,Gasoline,Manual,Used,12290,82.0,2019
2019,3550,Opel,NaN,Gasoline,Manual,Used,15800,110.0,2019
2496,3000,Audi,NaN,Electric,Automatic,Demonstration,172450,598.0,2021
...,...,...,...,...,...,...,...,...,...
46074,1,Others,NaN,Gasoline,Manual,Pre-registered,23990,150.0,2021
46102,1,Others,NaN,Gasoline,Manual,Pre-registered,23990,150.0,2021
46114,35,Kia,NaN,Electric/Gasoline,Automatic,Pre-registered,30440,141.0,2021
46120,35,Kia,NaN,Electric,Automatic,Pre-registered,32440,204.0,2021
46237,2000,Tesla,NaN,Electric,Automatic,Used,57020,487.0,2021

In [4]:
# Business related question 1: How has the share of electric vehicles in the second hand market developed over the years?